{% extends "layout.jinja" %}

{% block title %}Dashboard{% endblock %}

{% block content %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active">Beranda</li>
    </ol>
</nav>

<div class="dashboard">
    <h1>Dashboard</h1>
    <!-- Add your dashboard content here -->
</div>


{% endblock %}